@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e5e5f7;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 30px
    ),
    repeating-linear-gradient(#ffb5b58a, #ffb8b8);
}
